@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@font-face {
  font-family: "SF6";
  src: url('/fonts/SF6.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}

body {
  @apply font-SF6;
}
*/